.mainFlexBlogDetails {
  margin: auto 25%;
}

.detailsIcon {
  font-size: 16px;
  color: #6b6b6b;
  cursor: pointer;
}

.marginLeft {
  margin-left: 20px;
}

.homeButton {
  float: inline-end;
  margin: 10px;
  font-size: 20px;
  cursor: pointer;
  color: #6b6b6b;
}
